

.carousel-item {
    background-color: black;
}
.tColor {
    color: black;
}
.titre1{
    padding-left: 25%;
    font-family: 'Playfair Display', serif;
  align-items: center;
  justify-content: center   ;   

}

  .carousel-item {
    
      background-color: rgb(235, 125, 103);
    
  }
  .logo{
    height:7%;
    width: 15%;
  }