.red {
    color: red;
    
}

.body {
    background-color: red !important;
}
/* 
n'oublie pas que la flèche de ton carrousel est tout à droite de la page et pas à la fin de l'image.
*/

.carousel-item {
    width: 100vw;
    height: 75vh;
  
}
.carouselExampleIndicators {
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentationpjs {
    display: flex;
}
.pp{
    height: 45vh;
    width: 30vw;
    border-radius: 5%;
    flex: 1;
}
.mypp{
    display: flex ;
    flex :2;
align-items: center;

}
