
/* 
n'oublie pas que la flèche de ton carrousel est tout à droite de la page et pas à la fin de l'image.
*/

.carousel-item {
    width: 100vw;
    height: 75vh;
  
}
.carouselExampleIndicators {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp {

        border-radius: 15%  ;  
        width: 20% ;
        height: 40%;
}


.cBG{
    background-color: beige;
} 
 
.navbar {
  align-items: center;
  justify-content: center   ;
}
.logo{
  height:3%;
  width: 6%;
}
.titre1 {
  font-family: 'Playfair Display', serif;

}
.titre2 {
  font-family: 'Playfair Display', serif;
}
.contenu{
  font-family: 'Playfair Display', serif;
}
.exphotos {
  width: 45%;
  height: 75%;
}
