
.title {
  display: flex ;
}
.pp {

        border-radius: 15%  ;  
        width: 20% ;
        height: 40%;
}


.logo{
  height:7%;
  width: 15%;
}
.titre1 {
  font-family: 'Playfair Display', serif;

}

.contenu{
  font-family: 'Montserrat', serif;
}
.exphotos {
  width: 50%;
  height: 75%;
}
 .aPhoto {
  width: 75%;
  height: 50%;
 }

 .mycard {
 
    background-color: rgb(235, 125, 103);

 }

.cBG{
  
    background-color: rgb(237, 215, 186);

  
}
.globalBackground {
background-color: rgb(237, 215, 186);
}